services:
  django:
    build: .
    container_name: django_app
    env_file:
      - .env
    command: bash -c "conda run -n testdjango python manage.py migrate && conda run -n testdjango python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
   

  celery:
    build: .
    container_name: celery_worker
    command: bash -c "conda run -n testdjango celery -A testaskdjango worker --loglevel=INFO"
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: celery_beat
    command: bash -c "conda run -n testdjango celery -A testaskdjango beat --loglevel=INFO"
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"