<!DOCTYPE html>
<html>
<head>
  <title>Логи выполнения</title>
  <script>
    async function fetchLogs() {
      const response = await fetch("{% url 'get_logs' %}");
      const data = await response.json();
      const logsDiv = document.getElementById("logs");
      logsDiv.innerHTML = data.logs.join("<br>");
      if (!data.running) {
        setTimeout(() => {
          window.location.href = "/?status=Задача успешно завершена!";
        }, 3000); // через 3 секунды перенаправляем на домашнюю страницу
      }
    }
    setInterval(fetchLogs, 1000); // обновляем каждые 1 сек
    window.onload = fetchLogs;
  </script>
</head>
<body>
  <h1>Выполнение задачи...</h1>
  <div id="logs"></div>
</body>
</html>